.medium {
   font-weight: lighter;
   color: #FFf;
   background-color: #02b875;
   display: inline-block;
   padding: 10px 20px;
   border-radius: 20px;
   text-align: center;
   cursor: pointer;
   transition: 0.1s;
}

.medium:hover {
   background-color: #208c64;
}

.twitter {
   background-color: #edc47d;
   text-decoration: none;
   text-align: center;
   color: #fff;
   padding: 10px 30px;
   font-size: 20px;
   font-weight: 100;
   border-radius: 8px;
   border: 1px solid #edc47d;
   transition: 0.2s;
}

.twitter:hover {
   background-color: #fff;
   color: #edc47d;
}

.shadow {
   text-decoration: none;
   text-align: center;
   padding: 10px 30px;
   font-weight: lighter;
   border: 1px solid #7CB9E8;
   color: #fff;
   border-radius: 8px;
   box-shadow: 0px 4px 2px black;
   background-color: #7CB9E8
}

.shadow:hover {
   box-shadow: none;
   font-weight: bolder;
}
